page-list {

}
#centro{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#tamanho{
    font-size: 25px;
    text-align: justify;
    color: white;
}
#cor{
    background-color: #2e8b57;
}
#corfundo{
    background-color: #2e8b57;
}