page-home {

}
.imagem{
    background-image: url(../../assets/imgs/fisioterapia1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #2e8b57;
    margin-top: 50px;
}
#cor{
    background-color: #000000;
}
